/* ---------------------------------- body ---------------------------------- */
body {
    color: rgb(13, 8, 103);
    font-family: sans-serif;
}

/* ------------------------------ nav bar items ----------------------------- */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 20px;
}

/* ------------------------------ styled table ------------------------------ */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

label {
    width: 150px;
    display: inline-block;
}

/* ---------------------- rotated table on select page ---------------------- */
.rotated {
    position: relative;
    right: 3500px;
    top: 1200px;
    transform: translate(100%, 0) rotate(270deg);
    direction: rtl;
}
.rotated td{
    transform:rotate(90deg);
    height: 120px;
}