<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Climate Action Plan, toolkit, Green House Gas Emissions, Colorado, Tiny Feet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{% block title %}{% endblock %}</title>
    

</head>
<body>
  <header id="main-header">
    <h1>Tiny Feet Climate Action Planning Toolkit</h1>
  </header>
<center><p>A toolkit to help communities begin the process of creating a Climate Action Plan</p></center>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sectors/emissions">Emissions Estimation</a></li>
            <li><a href="/sectors/actions">Recommended Actions</a></li>
            <li><a href="/sectors/news">News</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="../static/script.js"></script>

</body>
</html>
