{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
  <h3>Home</h3>
  <p>Home will have general information about us and the project. This includes Background Information, and an Overview and Instructions</p>
  <br>
  <p>Background Information
  <br>
  <p>Toolkit Overview
  <br>
  <p>Instructions
  <br>
  <p>About Us</p>
  <div class="row">
    <div class="column">
      <center><p>Valeda and Eric...</p></center>
      <a href="Western_Colorado_Mountaineers_logo.png">
        <center><img src="Western_Colorado_Mountaineers_logo.png" alt="Western Logo" width="200"></center>
      </a>
    </div>
    <div class="column">
      <center><p>The 30 Percent Senior Design Team...</p></center>
      <a href="blastersmall.png">
        <center><img src="blastersmall.png" alt="Blaster Logo" width="200"></center>
      </a>
    </div>
  </div>
{% endblock %}
