{% extends "base.html" %}
{% block title %} Read {% endblock %}
{% block content %}
<h1>Read Database Entries</h1>

<label>Choose a Sector Table:</label>
    <select onchange="changeOptions(this)">
    <option value="none" selected disabled hidden> 
    Select an Option 
    <option value="cement_and_manufacturing">Cement And Manufacturing</option>
    <option value="electricity">Electricity</option>
    <option value="natural_gas">Natural Gas</option>
    <option value="otis_transportation">Transportation</option>
    <option value="waste">Waste</option>
    <option value="aviation">Aviation</option>
    <option value="zip_pop">Zip Code Population</option>
</select>
<br><br>

<div class="schema" id="cement_and_manufacturing" style="display:none">
  <h2>cement_and_manufacturing</h2>
  <table class="styled-table">
      <tr>
        <th>zip</th>
        <th>CO2e_MetricTonsPerYear</th>
      </tr>
      {% for row in Cement_And_Manufacturing %}
      <tr>
        <td>{{row.zip}}</td>
        <td>{{row.CO2e_MetricTonsPerYear}}</td>
      </tr>
      {% endfor %}
    </table>
</div>

<div class="schema" id="electricity" style="display:none">
    <h2>electricity</h2>
    <table class="styled-table">
      <tr>
        <th>zip</th>
        <th>service_id</th>
        <th>service</th>
        <th>state</th>
        <th>primary_city</th>
        <th>zip_type</th>
        <th>service_pop</th>
        <th>zip_pop</th>
        <th>zip_business_pop_industrial_service</th>
        <th>zip_business_pop_industrial</th>
        <th>commercial_business_zip_pop</th>
        <th>service_commercial_zip_pop</th>
        <th>cntrl_area</th>
        <th>residential_sales_mwh</th>
        <th>industrial_sales_mwh</th>
        <th>commercial_sales_mwh</th>
        <th>commercial_co2e_service_total</th>
        <th>commercial_co2e_kg_per_year_per_zip</th>
        <th>commercial_co2e_metric_tons_per_year_per_zip</th>
        <th>industrial_co2e_service_total</th>
        <th>industrial_co2e_kg_per_year_per_zip</th>
        <th>industrial_co2e_metric_tons_per_year_per_zip</th>
        <th>residential_co2e_service_total</th>
        <th>residential_co2e_kg_per_year_per_zip</th>
        <th>residential_co2e_metric_tons_per_year_per_zip</th>
      </tr>
      {% for row in Electricity %}
      <tr>
        <td>{{row.zip}}</td>
        <td>{{row.service_id}}</td>
        <td>{{row.service}}</td>
        <td>{{row.state}}</td>
        <td>{{row.primary_city}}</td>
        <td>{{row.zip_type}}</td>
        <td>{{row.service_pop}}</td>
        <td>{{row.zip_pop}}</td>
        <td>{{row.zip_business_pop_industrial_service}}</td>
        <td>{{row.zip_business_pop_industrial}}</td>
        <td>{{row.commercial_business_zip_pop}}</td>
        <td>{{row.service_commercial_zip_pop}}</td>
        <td>{{row.cntrl_area}}</td>
        <td>{{row.residential_sales_mwh}}</td>
        <td>{{row.industrial_sales_mwh}}</td>
        <td>{{row.commercial_sales_mwh}}</td>
        <td>{{row.commercial_co2e_service_total}}</td>
        <td>{{row.commercial_co2e_kg_per_year_per_zip}}</td>
        <td>{{row.commercial_co2e_metric_tons_per_year_per_zip}}</td>
        <td>{{row.industrial_co2e_service_total}}</td>
        <td>{{row.industrial_co2e_kg_per_year_per_zip}}</td>
        <td>{{row.industrial_co2e_metric_tons_per_year_per_zip}}</td>
        <td>{{row.residential_co2e_service_total}}</td>
        <td>{{row.residential_co2e_kg_per_year_per_zip}}</td>
        <td>{{row.residential_co2e_metric_tons_per_year_per_zip}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

<div class="schema" id="natural_gas" style="display:none">
  <h2>natural_gas</h2>
  <table class="styled-table">
    <tr>
      <th>zip</th>
      <th>residential_volume</th>
      <th>commercial_volume</th>
      <th>industrial_volume</th>
    </tr>
    {% for row in Natural_gas %}
    <tr>
      <td>{{row.zip}}</td>
      <td>{{row.residential_volume}}</td>
      <td>{{row.commercial_volume}}</td>
      <td>{{row.industrial_volume}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="schema" id="otis_transportation" style="display:none">
  <h2>otis_transportation</h2>
  <table class="styled-table">
    <tr>
      <th>zip</th>
      <th>CO2e_total_passenger_vehicles_gasoline_mT_per_year</th>
      <th>CO2e_total_passenger_vehicles_diesel_mT_per_year</th>
      <th>CO2e_total_trucks_gasoline_mT_per_year</th>
      <th>CO2e_total_trucks_diesel_mT_per_year</th>
    </tr>
    {% for row in OTIS_Transportation %}
    <tr>
      <td>{{row.zip}}</td>
      <td>{{row.CO2e_total_passenger_vehicles_gasoline_mT_per_year}}</td>
      <td>{{row.CO2e_total_passenger_vehicles_diesel_mT_per_year}}</td>
      <td>{{row.CO2e_total_trucks_gasoline_mT_per_year}}</td>
      <td>{{row.CO2e_total_trucks_diesel_mT_per_year}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="schema" id="waste" style="display:none">
  <h2>waste</h2>
  <table class="styled-table">
    <tr>
      <th>zip</th>
      <th>CO2e_MetricTonsPerYear</th>
    </tr>
    {% for row in Waste %}
    <tr>
      <td>{{row.zip}}</td>
      <td>{{row.CO2e_MetricTonsPerYear}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="schema" id="aviation" style="display:none">
  <h2>aviation</h2>
  <table class="styled-table">
      <tr>
        <th>zip</th>
        <th>CO2e_metricTonsPerYear</th>
      </tr>
      {% for row in Aviation %}
      <tr>
        <td>{{row.zip}}</td>
        <td>{{row.CO2e_metricTonsPerYear}}</td>
      </tr>
      {% endfor %}
    </table>
</div>

<div class="schema" id="zip_pop" style="display:none">
  <h2>zip_pop</h2>
  <table class="styled-table">
    <tr>
      <th>zip_id</th>
      <th>zip</th>
      <th>state</th>
      <th>city</th>
      <th>type</th>
      <th>population2018</th>
      <th>county</th>
    </tr>
    {% for row in Zip_pop %}
    <tr>
      <td>{{row.zip_id}}</td>
      <td>{{row.zip}}</td>
      <td>{{row.state}}</td>
      <td>{{row.city}}</td>
      <td>{{row.type}}</td>
      <td>{{row.population2018}}</td>
      <td>{{row.county}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

  {% endblock %}

