{% extends "helpers/base.html" %}
{% block title %} Feedback {% endblock %}
{% block content %}
<div class="container">
  <h3>Feedback</h3>
  <p>Please help us improve our website by taking <a
      href='https://docs.google.com/forms/d/e/1FAIpQLScZ1dlKaebsulrJp3eQnnfvHDVMQ3Gvyw9gYyjyzwMij0-mMA/viewform?usp=sf_link'>this</a>
    feedback survey. Thank you!</p>
  <br>
  <h6>Known Bugs as of 3/25/2021</h6>
  <ul>
    <li>Recommendations are not downloadable.</li>
    <li>Zip codes with zero population are displayed and showing infinite emissions.</li>
    <li>Emissions tiers will be scaled to better fit data.</li>
    <li>There is no option to clear your selected region or selected filters.</li>
  </ul>
</div>
{% endblock %}