{% extends "helpers/base.html" %}
{% block title %} Home {% endblock %}
{% block navbar %}{% endblock%}
{% block content %}
<div class="container">
<h1>Home</h1>
<p>Home will have general information about us and the project. This includes Background Information, an Overview, and Instructions</p>
<br>
<p>Background Information
<br>
<p>Toolkit Overview
<br>
<p>Instructions
<br>
<p>About Us</p>
<div class="row">
  <div class="column">
    <div id="center"><p>Valeda and Eric...</p></div>
      <div id="center"><img src="../static/img/madJack.png" alt="Western Logo" width="200"></div>
  </div>
  <div class="column">
    <div id="center"><p>The 30 Percent Senior Design Team...</p></div>
      <div id="center"><img src="../static/img/blasterSmall.png" alt="Blaster Logo" width="200"></div>
  </div>
</div>
</div>
{% endblock %}