{% extends "helpers/base.html" %}
{% block title %} Read {% endblock %}
{% block content %}

{# get_flashed_messages() is auto sent to the template with the flash() call #}
{% for mess in get_flashed_messages()  %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
  </div>
{% endfor %}
<div class="container">

<h1>Read Database Entries</h1>

<h2>Choose a Sector Table:</h2>
<div id="row">
  <div class="col-sm-5 col-md-6">
  <form action="/emissions/read" method="POST" name="readForm">
    {{ form.csrf_token }}
    {% from 'helpers/_formHelpers.html' import render_field %}
    {{ render_field(form.tables, onchange="submitForm(readForm)") }}
  </form>
</div>
<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
    {% if tableData %}
    <form action="../../static/data/spreadsheets/{{ tableName }}.xls">
      <button type="submit" class="btn btn-primary">Download Data</button>
  </form>  
  {% else %}
  <h2>Or Download all Data</h2>
  <form action="../../static/data/spreadsheets/allGhgData.xls">
    <button type="submit" class="btn btn-primary">Download All Data</button>
  </form>
  {% endif %}

</div>

</div>



{% if tableData %}
  <h2>{{ tableName }}</h2>
  <table class="styled-table">
      <tr>
        {% for column in columnNames %}
        <th>{{ column }}</th>
        {% endfor %}
      </tr>
      {% for row in tableData %}
        <tr>
          {% for column in row %}
            <td>{{ column }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
</div>
{% endif %}

<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

{% endblock %}

