{% extends "helpers/base.html" %}
{% block title %} Recommended Actions {% endblock %}
{% block content %}
<div class="container">
<h3>Recommended Actions</h3>
  <p>Recommended Actions will list an explanation of all recommended actions and their impact. It shows the general recommendations we will provide on the website as well as our sources for all recommendations. Finally it will have links to other actions and resources.</p>
  <!-- Checkbox Filters for Holistic Metrics -->

  <div class="row">
    <div class="col-sm-5 col-md-6">
      <h3>Filter by Holistic Community Metric</h3>
      <p>I want to see solutions that support: </p>
     </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <h3>Filter by Emissions Sector</h3>
      <p>I want to see solutions that reduce emissions from: </p>
    </div>
  </div>
  <form action="/recommendations" method="POST">
  <div class="row">
    <div class="col-sm-5 col-md-6">{{ form.equity.label }}{{ form.equity }}</div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">{{ form.cementMan.label }}{{ form.cementMan }}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-6">{{ form.envQuality.label }}{{ form.envQuality }}</div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">{{ form.envQuality.label }}{{ form.envQuality }}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-6">{{ form.healthSafety.label }}{{ form.healthSafety }}</div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">{{ form.electricity.label }}{{ form.electricity }}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-6">{{ form.resilience.label }}{{ form.resilience }}</div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">{{ form.naturalGas.label }}{{ form.naturalGas }}</div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-6">{{ form.submit }}</div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">{{ form.transportation.label }}{{ form.transportation }}</div>
  </div>
  </form>
  <h1>List of Solutions Selected for your Community</h1>
  <!--TODO Display Recommendations Based on Filters and Emissions/Metrics Data-->
  <p>User input along with data for user region will be filtered through an algorithm, 
    or a "list of steps", to decide the top recommended action for the user</p>
  <h3>Algorithm score: {{ count }}</h3>
</div>

{% endblock %}

