{% extends "helpers/base.html" %}
{% block title %} Resources {% endblock %}
{% block content %}
<div class="container">
  <h3>Resources</h3>
  <p>Below are sources used in creating the recommendations list that can be important resources when making a Climate Action Plan.</p>
  <p>[1] <a href='../static/resources/usdn_hips_update_-_september_2018_final.pdf'
  >Urban Sustainability Directors Network: Catalyzing Sustainability Impact</a></p>
  <p>[2] <a href='../static/resources/GHG-Toolkit_12-17_201712040909174339.pdf'
  >Greenhouse Gas Reduction Toolkit: How to Take Action in Your Community</a></p>
  
  <h3>Data Sources</h3>
  <p>Below are links to the publically available data used to create the greenhouse emissions inventory on this web app.</p>

  <h4>Population Data</h4>
  <p>[1] <a href='https://data.census.gov/cedsci/table?q=acs&g=0100000US.860000&tid=ACSDP5Y2018.DP05&hidePreview=true'
  >2018 Population by Zip - Census</a></p>
  
  <p>[2] <a href='https://www.census.gov/data/datasets/2018/econ/cbp/2018-cbp.html'
  >2018 Number of Businesses per Zip - Census</a></p>

  <h4>Energy Data</h4>
  <p>[3] <a href='https://www.eia.gov/electricity/data/emissions/'
  >EIA Intensity Factor of Electricity - Colorado</a></p>
  
  <p>[4] <a href='https://www.eia.gov/electricity/data.php'
  >EIA Sales of Electricity by Utility - Colorado</a></p>
  
  <p>[5] <a href='https://www.eia.gov/naturalgas/ngqs/#?report=RPC&year1=2016&year2=2019&company=Name&items=0110VL,1010CT,1010VL,101TVL,1020CT,1020VL,102TVL,1030CT,1030VL,103TVL'
  >EIA Natural Gas Annual Respondent Query System - Colorado</a></p>

  <p>[6] <a href='https://www.eia.gov/totalenergy/data/annual/showtext.php?t=ptb0208'
    >EIA Annual Energy Review</a></p>
  
  <h4>Transportation Data</h4>
  <p>[7] <a href='https://dtdapps.coloradodot.info/otis/TrafficData#ui/0/1/1/criteria/33640//true/true/'
  >OTIS Online Transportation Information System: Traffic Data Explorer - Colorado</a></p>

  <p>[8] <a href='https://www.epa.gov/sites/production/files/2018-03/documents/emission-factors_mar_2018_0.pdf'
  >EPA Emissions Factors for Greenhouse Gas Inventories</a></p>

  <p>[9] <a href='https://www.epa.gov/sites/production/files/2019-04/documents/us-ghg-inventory-2019-annex-3-additional-source-or-sink-categories-part-a.pdf'
  >EPA ANNEX 3 Methodologial Descriptions for Additional Sources or Sink Categories</a></p>

  <p>[10] <a href='https://www.bts.gov/content/average-fuel-efficiency-us-light-duty-vehicles'
  >Bureau of Transportation Statistics: Average Fuel Efficiency of U.S. Light Duty Vehicles</a></p>

  <p>[11] <a href='https://www.eia.gov/opendata/qb.php?category=711246&sdid=TOTAL.PCFRRUS.A'
  >EIA Light-Duty Vehicles, Short Wheelbase Fuel Economy, Annual</a></p>

  <p>[12] <a href='https://www.eia.gov/opendata/qb.php?category=711246&sdid=TOTAL.LTFRRUS.A'
  >EIA Light-Duty Vehicles, Long Wheelbase Fuel Economy, Annual</a></p>

  <p>[13] <a href='https://www.eia.gov/opendata/qb.php?category=1373322&sdid=AEO.2015.REF2015.EFI_NA_FGHT_RADS_MGS_NA_NA_MPG.A'
  >EIA Freight: Existing Trucks: FUel Efficiency: Heavy Motor Gasoline</a></p>

  <p>[14] <a href='https://www.eia.gov/opendata/qb.php?category=1373322&sdid=AEO.2015.REF2015.EFI_NA_FGHT_RADS_DSL_NA_NA_MPG.A'
  >EIA Freight: Existing Trucks: FUel Efficiency: Heavy Diesel</a></p>

  <h4>Cement and Manufacturing</h4>
  <p>[15] <a href='https://www.epa.gov/statelocalenergy/download-state-inventory-and-projection-tool'
  >EPA Energy Resources for State and Local Governments</a></p>

  <p>[16] <a href='https://www.epa.gov/ghgreporting/ghg-reporting-program-data-sets'
  >EPA Greenhouse Gas Reporting Program</a></p>
  <h4>Waste Management</h4>
  <p>[17] <a href='https://cdphe.colorado.gov/solidwaste'
  >Colorado Department of Public Health and Environment: Solid Waste Management and Recycling</a></p>

  <h4>Aviation</h4>
  <p>[18] <a href='https://www.eesi.org/papers/view/fact-sheet-the-growth-in-greenhouse-gas-emissions-from-commercial-aviation'
  >Environmental and Energy Study Institute GHG Emissions from Commercial Aviation</a></p>
</div>
{% endblock %}
