{% extends "helpers/base.html" %} 
{% block title %} Select {% endblock %} 
{%block script %} 
{% if zipData %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" ></script>
<script type="text/javascript">
    var testData = [['Sector', 'GHG Emissions'],
                    ['cement_and_manufacturing',9681.44],
                    ['waste',8679.21],
                    ['electricity_commercial',28126.09328]];

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      // Jinja "safe" filter prevents automatic html special character escaping
      var data = google.visualization.arrayToDataTable( {{ zipData | safe }} );

      var options = {
        title: 'Sector Emissions Data (Metric Tons/ Year) for {{ area | safe }}',
        height: 500,
        bar: { groupWidth: "95%" },
        legend: { position: "side" },
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
      chart.draw(data, options);
    }
</script>
{% endif %} 
{% endblock %} 
{% block content %} 

{# get_flashed_messages() is auto sent to the template with the flash() call #}
{% for mess in get_flashed_messages()  %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
  </div>
{% endfor %}

<!-- Message Banner -->
<form action="/sectors/select" method="POST" name="chartForm">
  <div class="container">
    <div class="row">
      {{ form.csrf_token }}
      <div class="col-md-4">{{ form.county.label }}<br>{{ form.county }}<br>{{ form.countySubmit }}<br></div>
      <div class="col-md-4">{{ form.city.label }}<br>{{ form.city }}<br>{{ form.citySubmit }}<br></div>
      <div class="col-md-4">{{ form.zip.label }}<br>{{ form.zip }}<br>{{ form.zipSubmit }}<br></div>
    </div>
  </div>
</form>

{% if zipData %}
<div class="container">
  <br>
  <h3>All Sector GHG Data Chart</h3>
  <div id="chart"></div>
</div>
{% endif %} 
{% endblock %}
